* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.button{
	background-color:white;
	display: inline-flex;
	align-items: center;
	border-radius: 20px 20px 20px 20px;
	padding-left: 20px;
	padding-right: 20px;
	
}
.button .link{
	text-decoration: none;
    color: #000000;

}
.link{
	text-decoration: none;
    color: #dad9d9;


}
.link-section{
	display: flex;
	text-align: center;
	padding: center ;

	gap: 2EM;
	margin-top:8px;
}
.header {
    background-color: #3160E0;
    height: 70px;
    padding: 10px;
	display: flex;
	text-align: center;

}

.container {
    width: 70%;
    max-width: 1100px;
    margin: auto;
}

.row {
    
    background-color: #3160E0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}


.blue-section {
	
    background-image:url(../img/jumbo.png);
	background-size: cover;
	background-position:center ;
	height: 400px;
	height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.box-pink {
    background-color: none;  
    height: 300px;
    width: 700px;
	display: inline-block;
	align-items: center;
	color: White;
	text-align: center;

}
.box-pink .button {
	color: black;
	margin: 1em;
	padding: 1em;
	border-radius: 30px 30px 30px 30px;
}
.box-pink .button-black{
	color: white;
	margin: 1em;
	padding: 1em;
	background-color:rgb(0, 0, 0);
	display: inline-flex;
	align-items: center;
	border-radius: 30px 30px 30px 30px;
	padding-left: 20px;
	padding-right: 20px;
}
.white-background {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-blue {
    
	background-image: url(../img/item1.svg);
	background-size: cover;
	background-position:center ;
    
    height: 300px;
    width: 60%;
}

.box-pink2 {
    background-color: none;
    display:inline-block;
	align-items: center;
    width: 40%;
	text-align: top;
	
}

.grey-background {
    background-color: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-blue2 {
    
	background-image: url(../img/item2.svg);
	background-size: cover;
	background-position:center ;
    
    height: 300px;
    width: 60%;
}
.box-blue3{
    
	background-image: url(../img/item3.svg);
	background-size: cover;
	background-position:center ;
    
    height: 300px;
    width: 60%;
}
.green-box {
    background-color: none;
  
	text-align: center;
	width: 60%;
    height: 800px;
    margin: 30px ;
    
}
.green-box .button{
	background-color: #3160E0;	
	color: rgb(232, 224, 224);
	margin: 1em;
	padding: 1em;

	display: inline-flex;
	align-items: center;
	border-radius: 30px 30px 30px 30px;
	padding-left: 20px;
	padding-right: 20px;
}


section {
    padding: 30px 0;
}



.clearfix::after{
    content: "";
    clear: both;
    display: table;
}


.logo{
    background-image: url(../img/logo.svg);
    float: left;
    background-size: contain;
    width: 17%;
    background-repeat: no-repeat;
    height: 40px;
    margin: 5px 0;
}

.img-footer{
    background-image: url(../img/ita.png);
    height: 20px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.ita{
    float: left;
}

.foot-col{
    float: left;
    width: 20%;
}

.titolo-footer{
    float:left;
    width: 20%;
}

ul{
    list-style-type: none;
}

.contenitore-footer{
    padding: 3rem 10rem;
}

footer{
    background-color: #23272a;
}

li{
    margin: 8px 0px;
    color: white;
}

strong{
    color: #7289da;
}

.titolo-footer h2{
    color: #7289da;
    margin: 0 15px;
}

.italiano{
    color: white;
    margin: 2rem 15px;
}

i{
    color: white;
}

.img-fa-footer i{
    margin: 0 15px;
}

.bottone-grigio{
    background-color: #8ea1e1;
	text-decoration: none;
    border-radius: 20px;
    padding: 4px 10px;
    vertical-align: middle;
    color: white;
    text-align: center;
    float: right;
    position: relative;
    top: 25%;
    right: 0;
}

.foot{
    border-top: 1px solid #4a5882;
    padding-top: 2rem;
}








